/* ===============================
   Fixed Header (Angular Safe)
=================================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  background: #ffffff;
  height: 80px;

  display: flex;
  align-items: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Prevent content overlap */
body {
  padding-top: 80px;
}

/* Logo */
.navbar-brand img {
  height: 45px;
}

/* Brand */
.brand h1 {
  font-size: 22px;
  font-weight: 600;
}

.brand small {
  font-size: 12px;
  display: block;
}

/* Nav */
.navmenu ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navmenu a {
  text-decoration: none;
  color: #000 !important;
  font-weight: 500;
  transition: 0.3s;
  font-size: 16px !important;
}

.navmenu a:hover {
  color: var(--accent-color) !important;
}

/* Button */
.btn-getstarted {
  background: var(--accent-color) !important;
  color: #000 !important;
  padding: 8px 22px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 600 !important;
  margin-right: 10px;
}
.btn-getstarted:hover {
  background: var(--accent-color) !important;
  color: #fff !important;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
